/*Mixins*/
@import url(https://fonts.googleapis.com/css?family=Mr+De+Haviland);
html, body {
  height: 100%;
  width: 100%;
  background-color: #fe344c;
  font-weight: 100;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

.invisible {
  opacity: 0;
}

.heading, .love {
  color: white;
  font-weight: 100;
  font-size: 500%;
  width: 100%;
  text-align: center;
  position: absolute;
  white-space: nowrap;
  top: 80%;
  -webkit-transform: translateY(-80%);
          transform: translateY(-80%);
  font-family: 'Mr De Haviland', cursive;
}

.love-container {
  opacity: 0;
  visibility: hidden;
}

.heart-container {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}
.heart-container #heart-svg {
  margin-top: 50px;
  height: 70%;
  width: 20%;
  cursor: pointer;
  opacity: 0;
}
.heart-container #heart-svg #heart {
  fill: white;
}

#little-heart1, #little-heart2, #little-heart3, #little-heart4, #little-heart5, #little-heart6, #little-heart7, #little-heart8, #little-heart9, #little-heart10 {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 100%;
  left: 5%;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}
#little-heart1 .heart, #little-heart2 .heart, #little-heart3 .heart, #little-heart4 .heart, #little-heart5 .heart, #little-heart6 .heart, #little-heart7 .heart, #little-heart8 .heart, #little-heart9 .heart, #little-heart10 .heart {
  fill: white;
}

#little-heart2 {
  height: 50px;
  width: 50px;
  left: 17%;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

#little-heart3 {
  height: 75px;
  width: 75px;
  left: 20%;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
}

#little-heart4 {
  height: 20px;
  width: 20px;
  left: 12%;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

#little-heart5 {
  height: 50px;
  width: 50px;
  left: 10%;
}

#little-heart6 {
  height: 30px;
  width: 30px;
  left: 70%;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

#little-heart7 {
  height: 20px;
  width: 20px;
  left: 85%;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

#little-heart8 {
  height: 80px;
  width: 80px;
  left: 75%;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

#little-heart9 {
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  left: 85%;
}

#little-heart10 {
  height: 50px;
  width: 50px;
  left: 95%;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.message-container {
  opacity: 0;
}

@media only screen and (max-width: 540px) {
  main {
    visibility: hidden;
  }

  .message-container {
    opacity: 1 !important;
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
  }
  .message-container .message {
    color: white;
    font-weight: 100;
    font-size: 3em;
    width: 100%;
    white-space: nowrap;
    font-family: 'Mr De Haviland', cursive;
  }
}
