@charset "UTF-8";
/**
 * 
 * @authors slice (1695005494@qq.com)
 * @date    2017-03-14 20:47:17
 * @version $01$
 */

/* ====================================
    1// ResetCss / Default
==================================== */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.wrap990 {
    width: 990px;
    position: relative;
    margin: 0 auto;
}
.wrap-rborder {
    border: 1px solid #e5e5e5;
    padding: 19px 19px 25px 29px;
}
.wrap-rborder h3 {
    padding-bottom: 8px;
    margin-bottom: 1px;
    border-bottom: 1px solid #e5e5e5;
}
body {
    background: #F3F3F3;
}
.user-load {
    width: 215px;
    height: 30px;
    border: 5px solid #e5e5e5;
    position: absolute;
    background: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    line-height: 30px;
    left: -20px;
    top: -42px;
}
.clear {
    clear: both;
}
.clear:before, .clear:befor, .clear:after {
    content: "";
    display: table;
    line-height: 0;
    clear: both;
}



/* ====================================
    2// Font
==================================== */
body {
    font-family: arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
    font-size: 14px;
    color: #333;
    padding-bottom: 14px
}
a {
    color: #333;
}
h3 {
    font-size: 14px;
}



/* ====================================
    3// Header
==================================== */
.header {
    height: 50px;
    background: rgba(0,0,0,0.67);
}
    /* ================================
        3.1// Logo
    ================================ */
    .logo a {
        background: url('../img/logo_cn.png');
        display: block;
        width: 150px;
        height: 50px;
    }
    /* ================================
      3.2// Phone
    ================================ */
    .client {
        position: absolute;
        top: 0;
        left: 162px;
        width: 70px;
    }
    .client:hover .phone-qr-code {
        display: block;

    }
    .client a {
        line-height: 50px;
        color: #ff7e3e;
        display: block;
    }
    .client a i {
        display: inline-block;
        width: 10px;
        height: 14px;
        background: url('../img/header_mobile.png');
        vertical-align: middle;
        margin-top: -3px;
    }
    .phone-qr-code {
        padding: 19px 17px;
        padding-bottom: 10px;
        border: 1px solid #e5e5e5;
        position: absolute;
        left: 0;
        top: 50px;
        display: none;
        z-index: 10;
        background: white;
    }
    .phone-qr-code h3 {
        line-height: 24px;
    }
    /* ================================
        3.3// nav
    ================================ */
    .nav-list {
        position: absolute;
        left: 240px;
        top: 0px;
    }
    .nav-list .nav-li {
    float: left;
    line-height: 50px;
    padding: 0 8px;
    }
    .nav-list .nav-li a {
        font-size: 16px;
        color: #FFF;
    }
    .arrow-icon {
        display: inline-block;
        border: 5px solid white;
        border-color: white transparent transparent transparent;
        vertical-align: middle;
        margin-top: 6px;
        margin-left: 5px;
    }
    .write-icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url('../img/header_icon.png');
        background-position: 0px -13px;
        vertical-align: middle;
        margin-top: -3px;
    }
        /* ============================
            3.3.1// Nav More
        ============================ */
        .more-list {
            background: #FFF;
            width: 365px;
            overflow: hidden;
            padding: 30px 0 35px 0;
            border: 1px solid #e5e5e5;
            position: absolute;
            right: -227px;
            top: 50px;
            display: none;
            z-index: 10;
        }

        .more-list ul {
            padding-left: 30px;
            border-right: 1px solid #e5e5e5;
        }

        .more-list ul:last-child {
            border-right: none;
        }

        .more-list ul li {
            padding: 0 72px 0 2px;
            line-height: 30px;
        }

        .more-list ul li:before {
            content: "";
            width: 4px;
            height: 4px;
            background: #666;
            display: inline-block;
            border-radius: 50%;
            vertical-align: middle;
            margin: -2px 10px 0 0;
        }

        .more-list ul{
            float: left;
        }

        .nav-list .more-list ul li a{
            color: #666;
            font-size: 14px;
            line-height: 30px;
        }
        .nav-more:hover .more-list{
            display: block;
        }
        /* ============================
            3.3.2// Nav Section
        ============================ */
        .nav-section {
            width: 990px;
            background: white;
            display: none;
            position: absolute;
            top: 50px;
            left: -240px;
            z-index: 10;
            padding-top: 15px;
        }
        #section-list {
            overflow: hidden;
            padding-left: 20px;
            border-bottom: 1px solid #e5e5e5;
        }
        #section-list li a {
            color: #666;
            line-height: 42px;
            font-size: 16px;
        }
        #section-list li {
            width: 155px;
            height: 42px;
            line-height: 42px;
            float: left;
        }
        #section-list li:before {
            content: "";
            display: inline-block;
            width: 6px;
            height: 6px;
            background: #ccc;
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 8px;
            margin-top: -4px;
        }
        .nav-section dl dt {
            float: left;
            width: 142px;
            line-height: 42px;
            font-size: 16px;
            text-align: right;
            color: #ff6f3d;
        }
        .nav-sec:hover .nav-section {
            display: block;
        }



    /* ================================
        3.4// login/reg
    ================================ */
    .login {
        position: absolute;
        right: 0;
        top: 0;
    }
    .login a {
        vertical-align: middle;
        border-right: 1px solid white;
        color: white;
        padding: 0 6px;
        line-height: 50px;
    }
    .login a:last-child {
        border: 0;
    }
/* ====================================
    4 // MainLeft
==================================== */
.main-l {
    width: 730px;
    float: left;
}
.main {
    padding-bottom: 10px;
}
    /* ====================================
        4.1 // HotSection
    ==================================== */
    .hot-section {
        height: 60px;
        background: white;
        overflow: hidden;
        font-size: 12px;
        margin: 10px 0;
    }
    .hot-title {
        float: left;
        width: 71px;

    }
    .hot-title a {
        line-height: 58px;
        display: block;
        text-align: right;
    }
    .hot-content i {
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url('../img/hot1.png');
        background-size: 100% 100%;
        vertical-align: middle;
        margin-top: -4px;
        margin-right: 2px;
    }
    .hot-content a:first-child {
        margin-left: 15px;
    }
    .hot-content a:nth-child(2) i {
        background: url('../img/hot2.png');
        background-size: 100% 100%;
    }
    .hot-content a:nth-child(3) i {
        background: url('../img/hot3.png');
        background-size: 100% 100%;
    }
    .hot-content a:nth-child(4) i {
        background: url('../img/hot4.jpg');
        background-size: 100% 100%;
    }
    .hot-content a:nth-child(5) i {
        background: url('../img/hot5.png');
        background-size: 100% 100%;
    }
    .hot-content a {
        margin-right: 13px;
        line-height: 58px;
    }
    .hot-border {
        border: 1px solid #e5e5e5;
    }
    /* ====================================
        4.2 // ArticleList
    ==================================== */
    .article {
        background: white;
    }
    .article-border {
        padding: 20px 30px;
    }
    .article-head a {
        display: inline-block;
        line-height: 30px;
        padding: 0 10px;
    }
    .article-head .on {
        background: #f3f3f3;
    }
    .article-head .publish {
        background: #FF8B3F;
        font-size: 12px;
        color: white;
        float: right;
        line-height: 32px;
        padding: 0 29px;
    }
    .avatar img {
        border-radius: 50%;        
        margin-right: 10px;
    }
    .avatar {
        float: left;
        position: relative;
    }
    .author-info {
        position: absolute;
        border: 1px solid #e5e5e5;
        background: white;
        z-index: 9;
    }
    .author-exp {
        margin: 18px auto;
        margin-bottom: 20px;
        font-size: 12px;
        text-align: center;
        overflow: hidden;
    }
    .author-exp li {
        float: left;
        width: 64px;
        height: 32px;
    }
    .author-exp li span:last-child {
        color: #888;
    }
    .author-exp li:nth-child(1) {
        margin-left: 6px;
    }
    .author-exp li:nth-child(2) {
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        width: 70px;
    }
    .author-exp li span {
        text-align: center;
        display: block;
    }
    .user-msg {
        text-align: center;
        line-height: 20px;
        padding-top: 8px;
    }
    .user-msg p {
        color: #888;
        font-size: 12px;
        margin-top: 1px;
    }
    .article-list ul li {
        padding-top: 18px;
        position: relative;
    }
    .author-msg {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 1px solid #e5e5e5;
        margin: 0 auto;
    }
    .author-msg img {
        border-radius: 50%;
        display: block;
        margin: 5px auto;
    }
    .badge {
        width: 216px;
        padding-bottom: 10px;
    }
    .badge a img {
        max-width: 36px;
    }
    .author-info {
        display: none;
        padding: 15px;
        border: 5px solid #f3f3f3;
        width: 210px;
        position: absolute;
        top: -100px;
        z-index: 2;
    }
    .article-title {
        display: inline-block;
        margin-top: 8px;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 524px;
    }
    .article-box {
        margin-left: 60px;
    }
    .article-box img {
        vertical-align: middle;
        margin: -12px 0 0 5px;

    }
    .article-info {
        margin-top: 6px;
        padding-bottom: 16px;
        border-bottom: 1px solid #e5e5e5;
    }
    .article-info a, .article-info span {
        font-size: 12px;
        color: #888;
    }
    .level {
        display: inline-block;
        vertical-align: middle;
        width: 19px;
        height: 10px;
        background: url(../img/level.png)no-repeat;
        background-position: -24px -33px;
        margin: -1px 4px 0 1px;
    }
    .wx {
        margin-left: 1px;
    }
    .article-v-r {
        margin-top: 3px;
        float: right;
    }
    .article-v-r span {
        color: #9da5ab;
    }
    .article-v-r span i {
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 11px;
        background: url('../img/invitation_pic.png')no-repeat;
        background-position: -2px -12px;
        margin: -3px 4px 0 0px;
    }
    .article-v-r span:first-child i {
        background-position: -2px -1px;
        margin: -3px 5px 0 0;
    }
        /* ============================/
            4.2.1// ArticlePaging
        ============================ */
        .paging {
            overflow: hidden;
            margin-top: 46px;
            text-align: center;
        }
        .paging ul li {
            display: inline-block;
            border: 1px solid #e5e5e5;
        }
        .paging ul li a {
            min-width: 28px;
            display: inline-block;
            font-size: 14px;
            line-height: 28px;
            text-align: center;
            color: inherit;
        }
        .home a, .pre a, .next a, .laster a {
            padding: 0 10px;
        }
        .paging ul .home, .paging ul .pre{
            margin-right: 10px;
            display: none;
        }
        .next, .laster {
            margin-left: 10px;
        }
        .paging ul .on {
            border: 1px solid #FF8D3F;
            background: white;
            color: #FF8D3F;
        }
        .paging ul .on:hover {
            border: 1px solid #FF8D3F;
            background: white;
            color: #FF8D3F;
        }



/* ========================================
    5 // MainRight
======================================== */
.main-r {
    width: 250px;
    float: right;
    margin-top: 10px;
}
    /* ====================================
        5.1 // Recommended
    ==================================== */
    .recommend-border {
        border: 1px solid #e5e5e5;
        background: white;
        overflow: hidden;
    }
    .recommend-title {
        width: 252px;
        margin-left: -1px;
    }
    .recommend-title span {
        width: 125px;
        border-left: 1px solid #e5e5e5;
        line-height: 40px;
        display: block;
        text-align: center;
        float: left;
        margin-top: 4px solid white;
        cursor: pointer;
        font-weight: bold;
        background: #FAFAFA;
    }
    .recommend-title .on {
        border-top: 4px solid #ccd1d9;
        height: 36px;
        line-height: 32px;
        background: white;
    }
    .recommend-list ul {
        width: 252px;
        margin-left: -1px;
        overflow: hidden;
    }
    .recommend-list ul li {
        float: left;
        border-top: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5;
        text-align: center;
    }
    .recommend-list ul li a {
        width: 125px;
        display: block;
        line-height: 36px;
    }
    /* ===================================
        5.2 // Sign
    =================================== */
    .sign-in {
        height: 50px;
        width: 249px;
        display: block;
        background-color: #FF6B3D;
        margin-top: 15px;
        margin-bottom: 10px;
        background-image: url('../img/tou.png');
        background-repeat: no-repeat;
        background-position: 14px center;
        position: relative;
    }
    .sign-in:hover .scan-qr-code {
        display: block;
    }
    .sign-in-text {
        color: white;
        font-size: 24px;
        position: absolute;
        left: 54px;
        top: 9px;
    }
    .sign-box {
        width: 111px;
        height: 46px;
        position: absolute;
        right: 2px;
        top: 2px;
        background: white;
        padding: 0 5px;
    }
    .sign-box div {
        height: 23px;
        line-height: 27px;
        padding-left: 30px;
        color: #666;
        background-image: url('../img/tou2.jpg');
        background-repeat: no-repeat;
        background-position: 5px 0px;
    }
    .sign-box .ranking {
        height: 22px;
        border-top: 1px solid #e5e5e5;
        line-height: 26px;
        font-size: 12px;
        background-position: 5px -25px;
    }
    .scan-qr-code {
        background: white;
        position: absolute;
        padding: 13px 20px;
        width: 207px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        border: 1px solid #e6e6e6;
        z-index: 1000;
        top: -126px;
        left: 0px;;
        display: none;
    }
    .scan-qr-code img {
        float: left;
    }
    .scan-qr-code .scan-text {
        margin-left: 100px;
        margin-top: 24px;
    }
    .scan-text h5 {
        font-size: 18px;
        font-weight: normal;
    }
    .scan-text span {
        font-size: 12px;
        color: #999;
        margin-top: 2px;
        display: block;;
    }
    .shadow1 {
        position: absolute;
        border: 12px solid;
        border-color: rgba(0,0,0,0.1) transparent transparent;
        bottom: -25px;
    }
    .shadow2 {
        position: absolute;
        border: 10px solid;
        border-color: #FFF transparent transparent;
        bottom: -19px;
        left: 23px;;
    }
    /* ===================================
        5.3 // HotTopic
    =================================== */
    .hottopic {
        background: white;
        margin-bottom: 15px;
    }
    .hot-item {
        margin-top: 20px;
        text-align: center;
        font-size: 12px;
    }
    .hot-item p {
        margin-top: 5px;
    }
    .hot-item:last-child {
        margin-top: 20px;
    }
    /* ===================================
        5.4 // RomDownload
    =================================== */
    .rom-border {
        border: 1px solid #e5e5e5;
        background: white;
        padding: 0 19px 25px 29px;
        text-align: center;
    }
    .rom-border h3 {
        margin-top: 19px;
        line-height: 20px;
        padding-bottom: 7px;
        border-bottom: 1px solid #e5e5e5;
        text-align: left;
        margin-bottom: 34px;
    }
    .more {
        float: right;
        font-weight: 400;
    }
    .rom-sum {
        color: #FF8B3D;
        font-size: 16px;
    }
    .rom-sum strong {
        font-size: 36px;
    }
    .rom-sum p {
        font-size: 12px;
        color: #222;
    }
    .rom-sum p:nth-child(3) {
        margin-top: 14px;
    }
    .rom-sum p:nth-child(4) {
        margin-top: 6px;
    }
    .update-adv {
        display: block;
        width: 190px;
        height: 38px;
        background: #FF8B3F;
        text-align: center;
        line-height: 38px;
        color: white;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 18px;
    }
    .adv {
        font-size: 12px;
        color: #888;
    }
    .adv a {
        color: #888;
    }
    .adv p {
        margin-top: 6px;
    }
    .adv-align {
        display: inline-block;
        padding: 0 3px 0px 3px;
        margin: 0 3px 0 3px;
        border-right: 1px solid #cacaca;
        border-left: 1px solid #cacaca;
    }
    /* ===================================
        5.5 // AppDownload
    =================================== */
    .app-border {
        border: 1px solid #e5e5e5;
        background: white;
        margin-top: 15px;
        padding: 19px 19px 42px 29px;
    }
    .app-border h3 {
        padding-bottom: 8px;
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 20px;
    }
/* ========================================
    6// Footer
======================================== */
    /* ========================================
        6.1 // FriendlyLink
    ======================================== */
    .friendly-link {
        background: #3F3F3F;
        padding: 46px 0 41px 0;
        vertical-align: top;
        overflow: hidden;
    }
    .friendly-link dl {
        float: left;
        width: 124px;
        border-left: 1px solid #4a4a4a;
        padding-left: 40px;
    }
    .friendly-link dl a {
        color: #6d6d6d;
    }
    .friendly-link dl:first-child {
        border-left: 0;
    }
    .friendly-link dl dd:last-child {
        margin-top: 17px;
    }
    /* ========================================
        6.2 // CopyRight
    ======================================== */
    .copy-right {
        background: rgba(0,0,0,.67);
        padding: 20px 0;
    }
    .copy-right img {
        vertical-align: middle;
        float: left;
        margin-right: 10px;
    }
    .copy-right a, .copy-right p {
        font-size: 12px;
        color: #dfdfdf;
        line-height: 20px;
    }
    .copy-right .ba {
        color: white;
    }



/* ========================================
    7// Theme
======================================== */
#section-list li a:hover, .hot-content a:hover, .friendly-link dl dd a:hover, .recommend-list ul li a:hover, .nav-list .nav-li a:hover, .author:hover, .article-title:hover {
    color: #FF8B3D;
}
.update-adv:hover, .publish:hover {
    background: #FF7519;
}
.paging ul li:hover {
    background: #FF8D3F;
    color: white;
}