@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-03-17 19:48:21
 * @version $Id$
 */


/* ============================================
    1// Default/Init/RestCss
============================================ */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
html {
    height: 100% !important;
}
body {
    position: relative;
    font-size: 14px;
    color: #333;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}



/* ==========================================
    2// Font
========================================== */
body {
    font-family: "Microsoft Yahei";
}
p {
    font: 14px/1.7em "Open Sans";
}



/* ==========================================
    3// Banner
========================================== */
.banner {
    width: 750px;
    height: 400px;
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    user-select: none;
}
.banner:hover a {
    opacity: 1 !important;
    transition: 0.4s;
}
.banner-img {
    width: 750px;
    height: 398px;
    overflow: hidden;
}
.banner-img a img {
    vertical-align: middle;
    display: none;
    position: absolute;
}
.banner-page a {
    width: 60px;
    height: 90px;
    color: white;
    display: block;
    font-size: 50px;
    line-height: 90px;
    text-align: center;
    position: absolute;
    transition: 0.4s;
    background: rgba(0,0,0,0.5);
    margin-top: -45px;
    top: 50%;
    opacity: 0 !important;
}
.banner-page a:hover {
    background: rgba(0,0,0,0.67);
}
.previous-page {
    left: 0;
}
.next-page {
    right: 0;
}
.banner-btn ul {
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -108px;
}
.banner-btn ul li {
    width: 14px;
    height: 14px;
    margin: 0 5px;
    background: white;
    float: left;
    border-radius: 50%;
    cursor: pointer;
    transition: all linear 0.4s;
}
.banner-btn ul .on {
    background: orange;
}