@charset "UTF-8";
/**
 * 
 * @authors yoonasy (yoonasy@example.org)
 * @date    2017-01-13 15:53:16
 * @version $1$
 */

*{
	margin:0;
	padding:0;
	color:#666;
	font-size:12px;
	font-family:"Microsoft Yahei";
}

li{
	list-style:none;
}

i{
	width:234px;
	height:60px;
	display:block;
	margin:30px auto;
	border-radius:10px;
	background-image:url("../images/icon.png");
}

a{
	text-decoration:none;
	overflow:hidden;
}

.head{
	width:100%;
	height:100%;
	background-color: #0B0505;
}

.head .banner{
	width:100%;
	max-width: 1200px;
	overflow:hidden;
	margin:0 auto;
	min-width:1000px;
	height:500px;
}

.head .banner img{
	width:100%;

}

.main .main-bg{
	width:100%;
	height:100%;
	background-image:url("../images/bj.jpg");
	background-size:100% 100%;
	background-color: #0B0505;
}

.main .main-bg .content{
	height:100%;
	background-color:white;
	width:1000px;
	margin:0 auto;
	overflow: hidden;
}

.main .main-bg .content .made-btn{

	background-position:0px -61px;
}

.main .main-bg .content .made-description li{
	font-size:18px;
	font-weight:bold;
	text-align:center;
	color:#860000;
	overflow: hidden;
	padding:0px 26px;
}

.main .main-bg .content .made-description li:before{
	content:"";
	width:5px;
	height:5px;
	background:#860000;
	border-radius:50%;
	display: inline-block;
	vertical-align:middle;
	margin-right:12px;
}

.main .main-bg .content .made-description li span{
	padding:10px 0;
	color:#333;
	display: block;
	font-size:16px;
	text-align:left;
	font-weight:400;
}

.main .main-bg .content .made-description{
	width:1000px;
	margin:0 auto;
}

.main .main-bg .content .work{
	background-position:0px -244px;
}

.main .main-bg .content .work-pic{
	width:1000px;
	height:500px;
	background-image:url("../images/index03.png");
	background-repeat:no-repeat;
}

.main .main-bg .content .tcl{
	width:1000px;
	height:480px;
	background-image:url("../images/index_04.jpg");
}

.main .main-bg .content .tcl-text{
	display:block;
	width:710px;
	background-image:url("../images/a_icon.png");
	background-repeat:no-repeat;
	background-position:0 3px;
	font-size:16px;
	vertical-align: top;
	text-indent:32px;
	margin:0 auto;
}

.main .main-bg .content .presentation{
	margin:20px auto;
	background-position:0px -305px;
}

.main .main-bg .content .adv-box{
	overflow: hidden;
	margin:20px 0;
}

.main .main-bg .content .adv-box .advance{
	font-size:18px;
	font-weight:bold;
	text-align:center;
	margin:10px 0;
}

.main .main-bg .content .adv-box .arrows{
	background-image:url("../images/arrows.png");
	background-repeat:no-repeat;
	width:61px;
	height:22px;
	display: block;
	margin:0 auto;
	border-radius:0;
	margin:20px auto;
}

.main .main-bg .content .advance-pic{
	margin:20px 0;
}

.main .main-bg .content .advance-cend{
	margin:20px 0;
	overflow:hidden;
}

.main .main-bg .content .advance-cend a:first-child{
	margin-left:0;
}

.main .main-bg .content .advance-cend a{
	margin-left:6px;
	float:left;
}

.main .main-bg .content .lecturer .lecturer-icon{
	background-position:0px -183px;
}

.main .main-bg .content .lecturer a img{
	margin:55px 0 10px 19px;
	display: inline-block;
}

.main .main-bg .content .lecturer .lecturer-first img{
	margin-left:0;
}

.bj10{
	vertical-align: bottom;
}

.main .main-bg .content .goog{
	position:relative;
}

.main .main-bg .content .goog .goog-desc{
	width:996px;
	height:471px;
	border:2px solid #5a483d;
}

.main .main-bg .content .goog .goog-desc h2{
	text-align:center;
	font-size:30px;
	font-weight:400;
	margin:45px 0;
}

.main .main-bg .content .goog .goog-desc .goog-desc-box .goog-icon{
	width:150px;
	height:130px;
	display: inline-block;
	background-image:url("../images/study.png");
	background-repeat:no-repeat;
	margin:0;
}

.main .main-bg .content .goog .goog-desc .goog-desc-box .exercise{
	background-image:url("../images/lianxi.png");
	background-position: 12px 0px;
}

.main .main-bg .content .goog .goog-desc .goog-desc-box .questions{
	background-image:url("../images/dayi.png");
}

.main .main-bg .content .goog .goog-desc .goog-desc-box .consolidate{
	background-image:url("../images/gonggu.png");
}

.main .main-bg .content .goog .goog-desc .goog-desc-box{
	display: inline-block;
	margin-top:26px;
	margin-left:75px;
}

.main .main-bg .content .goog .goog-desc .goog-desc-box span{
	display: block;
	text-align:center;
	font-size:16px;
	color:#8b8b8b;
}

.main .main-bg .content .goog .goog-desc .goog-desc-box .goog-title{
	font-size:20px;
	font-weight:bold;
	margin:20px 0;
	color:#555;
}

.main .main-bg .content .goog .goog-desc-pic{
	width:1000px;
	height:840px;
	overflow: hidden;
	background-image:url("../images/goog1.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
	border:none;
}

.main .main-bg .content .goog .item-2{
	background-image:url("../images/goog2.jpg");
}

.main .main-bg .content .goog .sign-up{
	width:100%;
	height:400px;
	position:relative;
}

.main .main-bg .content .goog .sign-up .click{
	left:95px;
}


.main .main-bg .content .goog .sign-up .sign-btn{
	display:inline-block;
	width:250px;
	height:80px;
	border-radius:36px;
	background-image:url("../images/button.png");
	background-repeat:no-repeat;
	background-size:100% 100%;
	position:absolute;
	top:90px;
	right:125px;
	font-size:24px;
	line-height:80px;
	text-align:center;
	color:white;
	text-shadow: 4px 2px 10px #000;
	font-weight:bold;
}
.main .main-bg .content .goog .sign-up .contact{
	padding:60px 90px;
}

.main .main-bg .content .goog .sign-up .contact a{
	text-align:center;
	display: block;
	width:300px;
}

.main .main-bg .content .goog .sign-up .store{
	top:180px;
}

.main .main-bg .content .goog .sign-up .tmall{
	top:270px;
}

.main .main-bg .content .goog .sign-up .contact{
	position:absolute;
	bottom:0;
	left:0px;
	background-image:url("../images/contact.png");
	background-size:100% 100%;
}

.main .main-bg .content .goog .sign-up .contact a p{
	display: inline-block;
	font-size:20px;
	color:#ff195a;
	text-shadow: 1px 0 10px rgba(255, 1, 1, .5);
	text-shadow: 1px 1 10px rgba(255, 1, 1, .5);
	text-shadow: 0px -1 10px rgba(255, 1, 1, .5);
	text-shadow: -1px 0 10px rgba(255, 1, 1, .5);
}

/* 底部版权 */
.floor{
	width:100%;
	background-color:#383838;
}

.floor .floor-box{
    width:1000px;
    overflow: hidden;
    margin:0 auto;
    border-bottom:1px solid #e5e5e5;
    background-color:#383838;
}	

.floor .floor-box .floor-top{
	border-bottom:1px solid #515151;
}

.floor .floor-box .floor-icon{
	display: inline-block;
	background-image:url("../images/foot_icon1.png");
	width:37px;
	height:36px;
	background-repeat:no-repeat;
	vertical-align:middle;
	margin-right:2px;
}

.floor .floor-box .aq{
	background-image:url("../images/foot_icon2.png");
	width:41px;
	height:44px;
}

.floor .floor-box .wh{
	background-image:url("../images/foot_icon3.png");
	width:40px;
	height:43px;
}

.floor .floor-box .yk{
	background-image:url("../images/foot_icon4.png");
	width:41px;
	height:44px;
}

.floor .floor-box span{
	margin-right:138px;
}

.floor .floor-box .floor-text span{
	margin-right:110px;
}

.floor .floor-box .floor-text{
	overflow: hidden;
	padding:30px 0px;
}

.floor .floor-box .floor-text .floor-right{
	float:right;
	text-align:center;
}

.floor .floor-box .floor-text .floor-right .floor-qq{
	font-size:22px;
	color:white;
	margin-right:0;
}

.floor .floor-box .floor-text .floor-right .floor-link{
	display: block;
	width:145px;
	height:40px;
	color:white;
	background-color:#f05353;
	line-height:40px;
	text-align:center;
	margin:35px auto;
	border-radius:6px;
}

.fixed{
	position:fixed;
	right:0;
	bottom:305px;
	z-index: 1;
	height:270px;
}

.fixed .back-to-top{
	display:block;
	width:80px;
	height:40px;
	background-image:url("../images/float_top.png");
	background-size:100%;
	margin-top:-4px;
}

.fixed .back-to-top:hover{
	background-position:0 38px;
}

.fixed .tel-hover .tel{
	position: absolute;
	right:80px;
	top:-2px;
	width:160px;
	height:77px;
	background-color:#f7f7ff;
	line-height:77px;
	text-align:center;
	display:none;
}

.fixed .tel a{
	display: block;
	font-size:20px;
}

.fixed .tel-code-hover{
	display:block;
	width:80px;
	height:75px;
	position:absolute;
	bottom:116px;
}

.fixed .code-hover{
	bottom:41px;
}

.fixed .code{
	position:absolute;
	bottom:-84px;
	right:80px;
	width:160px;
	height:160px;
	background-image:url("../images/code.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
	display:none;
}

.fixed .tel-hover:hover .tel{
	display:block;
}

.fixed .code-hover:hover .code{
	display:block;
} 