<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" Content="html/text" charset="utf-8">
    <meta name="description" Content="八十字描述信息">
    <meta name="KeyWords" Content="关键词，关键字">
    <title>小米论坛 - slice</title>
    <link rel="stylesheet" href="static/css/style.css" >
    <link rel="shortcut icon" href="static/images/favicon.ico">
</head>
<body>

    <div class="head">
        <div class="nav warp990">
            <div class="logo">
                <a href="#" class="logo_a"></a>
            </div>

            <div class="photo">
                <a href="#">客户端</a>
            </div>

            <ul class="nav_box">
                <li><a href="#">资讯</a></li>
                <li><a href="#">论坛</a></li>
                <li class="bankuai">
                    <a href="#">版块</a>
                    <div class="ban" >  <!--style="display:none;"-->
                        <dl>
                            <dt>小米手机 ></dt>
                                <div class="ban_text">
                                    <dd><a href="#">小米MIX</a></dd>
                                    <dd><a href="#">小米Note 2</a></dd>
                                    <dd><a href="#">小米5/5s/5sPlus</a></dd>
                                    <dd><a href="#">小米Max</a></dd>
                                    <dd><a href="#">小米4/4c/4s</a></dd>
                                </div>
                            <dt>红米手机 ></dt>
                                <div class="ban_text">
                                    <dd><a href="#">红米Pro</a></dd>
                                    <dd><a href="#">红米Note4</a></dd>
                                    <dd><a href="#">红米44A</a>/</dd>
                                </div>
                            <dt>电视盒子 ></dt>
                                <div class="ban_text">
                                    <dd><a href="#">小米电视</a></dd>
                                    <dd><a href="#">小米盒子</a></dd>
                                    <dd><a href="#">小米网络音响</a></dd>
                                    <dd><a href="#">小米路由器</a></dd>
                                    <dd><a href="#">小米平板</a></dd>
                                    <dd><a href="#">小米笔记本</a></dd>
                                    <dd><a href="#">小米VR</a></dd>
                                </div>
                            <dt>智能硬件 ></dt>
                                <div class="ban_text">
                                    <dd><a href="#">小米手环</a></dd>
                                    <dd><a href="#">小米出行方式</a></dd>
                                    <dd><a href="#">iHealth血压计</a></dd>
                                    <dd><a href="#">米兔积木机器人</a></dd>
                                    <dd><a href="#">移动电源</a></dd>
                                    <dd><a href="#">小米无人机</a></dd>
                                    <dd><a href="#">九号平衡车</a></dd>
                                    <dd><a href="#">净水器</a></dd>
                                    <dd><a href="#">小蚁智能摄像机</a></dd>
                                    <dd><a href="#">体重秤</a></dd>
                                    <dd><a href="#">智能家庭</a></dd>
                                    <dd><a href="#">空气净化器</a></dd>
                                    <dd><a href="#">米兔儿童手表</a></dd>
                                    <dd><a href="#">米兔智能故事机</a></dd>
                                    <dd><a href="#">小米耳机</a></dd>
                                    <dd><a href="#">扫地机器人</a></dd>
                                    <dd><a href="#">电饭煲</a></dd>
                                    <dd><a href="#">小白智能摄像机</a></dd>
                                    <dd><a href="#">Yeelight智能照明</a></dd>
                                    <dd><a href="#">车载蓝牙播放器</a></dd>
                                </div>
                            <dt>MIUI ></dt>
                                <div class="ban_text">
                                    <dd><a href="#">MIUI米柚</a></dd>
                                    <dd><a href="#">刷机天地</a></dd>
                                    <dd><a href="#">软件/游戏/壁纸</a></dd>
                                    <dd><a href="#">Windows 10</a></dd>
                                </div>
                            <dt>活动 ></dt>
                                <div class="ban_text">
                                    <dd><a href="#">爆米花</a></dd>
                                    <dd><a href="#">同城会</a></dd>
                                    <dd><a href="#">校园俱乐部</a></dd>
                                    <dd><a href="#">摄影馆</a></dd>
                                    <dd><a href="#">小米众测</a></dd>
                                </div>
                            <dt>游戏 ></dt>
                                <div class="ban_text">
                                    <dd><a href="#">剑侠世界</a></dd>
                                    <dd><a href="#">小米战神</a></dd>
                                    <dd><a href="#">小米枪战</a></dd>
                                    <dd><a href="#">小米超神</a></dd>
                                </div>
                            <dt>综合 ></dt>
                                <div class="ban_text">
                                    <dd><a href="#">小米动态</a></dd>
                                    <dd><a href="#">米粉杂谈</a></dd>
                                    <dd><a href="#">米粉达人</a></dd>
                                    <dd><a href="#">积分商城</a></dd>
                                    <dd><a href="#">问题反馈</a></dd>
                                    <dd><a href="#">《小米》会刊</a></dd>
                                    <dd><a href="#">申请特殊组</a></dd>
                                    <dd><a href="#">小米社区APP</a></dd>
                                    <dd><a href="#">摄影大赛</a></dd>
                                </div>
                        </dl>
                    </div>
                </li>
                <li><a href="#">酷玩帮</a></li>
                <li><a href="#">摄影馆</a></li>
                <li><a href="#">爆米花</a></li>
                <li><a href="#">同城会</a></li>
                <li><a href="#">官网</a></li>
                <li class="gengduo"><a href="#">更多<i class="more"></i></a>
                    <div class="more_box">
                        <ul class="m_more">
                            <li><a href="#">校园俱乐部</a></li>
                            <li><a href="#">任务</a></li>
                            <li><a href="#">ROM</a></li>
                            <li><a href="#">搜索</a></li>
                            <li><a href="#">精彩活动</a></li>
                            <li><a href="#">VIP认证</a></li>
                            <li><a href="#">学院</a></li>
                            <li><a href="#">刷机频道</a></li>
                            <li><a href="#">网站导航</a></li>
                        </ul>
                    </div>
                </li>
                <li class="write"><a href="#" class="icon_arti"></a></li> <!--写文章的图标-->
            </ul>

            <div class="user">
                <a href="#">登录</a>
                <span style="color:white;">|</span>
                <a href="#">注册</a>
            </div>

        </div>
    </div>



    <div class="main warp990">
        <div class="content">
            <div class="section">
                <span>热门版块:</span>
                <ul class="sec_ul">
                    <li><a href="#"><img src="static/images/5810160ba8264.png"  alt="小米Note2" width="24" height="24px" />小米Note 2</a></li>
                    <li><a href="#"><img src="static/images/T1SJJgBgbT1R4cSCrK.png"  alt="MIUI功能与讨论" width="24" height="24" />MIUI功能与讨论</a></li>
                    <li><a href="#"><img src="static/images/579885f00c10a.png"  alt="小米笔记本" width="24" height="24" />小米笔记本</a></li>
                    <li><a href="#"><img src="static/images/57ea56a18c3c1.jpg"  alt="小米5/5s" width="24" height="24" />小米5/5s/5s Plus</a></li>
                    <li style="margin-right:0;"><a href="#"><img src="static/images/58101629cb677.png"  alt="小米MIX" width="24" height="24" />小米MIX</a></li>
                </ul>
            </div>

            <!-- 文章 -->
            <div class="art_bg">
                <div class="art_box">
                    <div class="art_tile">
                        <a href="#" class="btn recommend">推荐</a>
                        <a href="#" class="btn theme">最新主题</a>
                        <a href="#" class="btn publish">发表新主题</a>
                    </div>
                    <ul>
                        <li>
                            <div class="con_box">
                                <div class="info"></div>
                                <div class="con_icon">
                                    <a href="javascript:void(0)" target="_black">
                                        <img src="static/images/avatar(1).jpg"  alt="" width="50" height="50" />
                                    </a>
                                </div>
                                <div class="con_text">
                                    <a href="#" class="title">
                                        {{models.title}}
                                    </a>
                                    <img class="ico_mi" src="static/images/1.png"  />
                                    <img class="ico_mi" src="static/images/2.png"  />
                                    <img class="ico_mi" src="static/images/3.png"  />
                                    <img class="ico_mi" src="static/images/4.png"  />
                                    <img class="ico_mi" src="static/images/5.png"  />
                                    <img class="ico_mi" src="static/images/6.png"  />
                                    <img class="ico_mi" src="static/images/7.png"  />
                                    <p>
                                        <a href="javascript:void(0);">{{models.author}}</a>
                                        <i class="ico_vip L{{level}}"></i>
                                        {{models.now}}
                                        <a href="#">{{models.comm}}</a>
                                        {{models.comm}}
                                        {{models.level}}
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="con_box">
                                <div class="info"></div>
                                <div class="con_icon">
                                    <a href="javascript:void(0)" target="_black">
                                        <img src="static/images/avatar(5).jpg"  alt="" width="50" height="50" />
                                    </a>
                                </div>
                                <div class="con_text">
                                    <a href="#" class="title">
                                        {{models.title}} 
                                    </a>
                                    <img class="ico_mi" src="static/images/3.png"  />
                                    <img class="ico_mi" src="static/images/5.png"  />
                                    <img class="ico_mi" src="static/images/6.png"  />
                                    <img class="ico_mi" src="static/images/7.png"  />
                                    <p>
                                        <a href="javascript:void(0);">{{models.author}}</a>
                                        <i class="ico_vip L{{level}}"></i>
                                        {{models.now}}
                                        <a href="#">{{models.comm}}</a>
                                        {{models.comm}}
                                        {{models.level}}
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 文章结束 -->
        </div>

        <!-- 右边版块 -->
        <div class="sec_right">

            <!-- 版块推荐 -->
            <div class="board">
                <div class="h_box">
                    <span class="on">版块推荐</span>
                    <span>百宝箱</span>
                </div>
                <div class="seris">
                    <ul class="order_ul comment1">
                        <li><a href="#">小米Note 2</a></li>
                        <li><a href="#">小米MIX</a></li>
                        <li><a href="#">小米5/5s/5s Plus</a></li>
                        <li><a href="#">小米Max</a></li>
                        <li><a href="#">小米笔记本</a></li>
                        <li><a href="#">小米电视 3S</a></li>
                        <li><a href="#">小米平板 2</a></li>
                        <li><a href="#">小米盒子 3</a></li>
                        <li><a href="#">小米手机 4</a></li>
                        <li><a href="#">小米路由器 3</a></li>
                        <li><a href="#">红米Note 4</a></li>
                        <li><a href="#">红米3S</a></li>
                        <li><a href="#">小米手环2</a></li>
                        <li><a href="#">九号平衡车</a></li>
                        <li><a href="#">小米空气净化器2</a></li>
                        <li><a href="#">小米体重秤</a></li>
                    </ul>
                    <ul class="order_ul comment2" style="display:none;">
                        <li><a href="#">论坛任务</a></li>
                        <li><a href="#">搜索</a></li>
                        <li><a href="#">我的消息</a></li>
                        <li><a href="#">rom下载</a></li>
                        <li><a href="#">vip认证</a></li>
                        <li><a href="#">申请特殊组</a></li>
                        <li><a href="#">应用中心</a></li>
                        <li><a href="#">小米百科</a></li>
                        <li><a href="#">专题汇总</a></li>
                        <li><a href="#">小米爆米花</a></li>
                        <li><a href="#">办事大厅</a></li>
                        <li><a href="#">热门软件</a></li>
                        <li><a href="#">网站导航</a></li>
                        <li><a href="#">小米大事记</a></li>
                        <li><a href="#">小米网</a></li>
                        <li><a href="#">天猫旗舰店</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <!-- 版块推荐结束 -->
            
            <!-- 签到 -->
            <div class="mark">
                <a href="#" class="m_a">
                    <span class="qd">签到</span>
                    <div class="qd_box">
                        <span class="person pep">29306人</span>
                        <span class="person view">签到看排名</span>
                    </div>
                </a>
            </div>
            <!-- 签到结束 -->
            
            <!-- 热点动态 -->
            <div class="hot_box">
                <div class="con">
                    <div class="hot">
                        <p class="hot-title">热点动态</p>
                    </div>
                    <div class="share">
                        <a href="#"><img src="static/images/20161031100001472.png"  width="190" height="100" /></a>
                        <span class="share-text">立即进入小米Note 2专题页</span>
                    </div>
                    <div class="share">
                        <a href="#"><img src="static/images/20161031100021522.png"  width="190" height="100" /></a>
                        <span class="share-text">立即进入小米MIX专题页</span>
                    </div>
                    <div class="share">
                        <a href="#"><img src="static/images/20161214050559100.jpg"  width="190" height="100" /></a>
                        <span class="share-text">米粉自家人的饕餮盛宴 即将开席</span>
                    </div>
                    <div class="share">
                        <a href="#"><img src="static/images/20161216045036290.jpg" width="190"  height="100" /></a>
                        <span class="share-text">免费体验冬季加湿良品</span>
                    </div>
                </div>
            </div>
            <!-- 热点动态结束 -->
            
            <!-- ROM下载 -->
            <div class="rom">
                <div class="r_con">
                        <div class="rom_t">
                            <p class="r_text">ROM下载
                                <a href="#">更多&gt;</a>
                            </p>
                        </div>
                        <div class="number">
                            <a href="#" class="num_hov">
                                <span class="num"><strong>89</strong>%</span><br />
                                <span class="txt">本周推荐度<br />MIUI 6.12.9</span>
                            </a>
                            <a href="#" class="level">升级公告</a>
                            <div class="about">
                                <a href="#" class="kfb">关于开发版和稳定版的说明</a>
                                <div class="tool">
                                    <a href="#">小米助手 |</a><a href="#">线刷工具 |</a><a href="#" style="color:#ff8d3d;">全部ROM</a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <!-- ROM下载结束 -->

            <!-- 小米社区APP下载 -->
            <div class="app_down">
                <div class="app_bor">
                    <h4 class="app_text">小米社区APP下载</h4>
                    <a href="#" class="app_link"><img src="static/images/20151127045012395.png"  alt="code" width="190" height="190" /></a>
                </div>
            </div>
            <!-- 小米社区APP下载结束 -->
        </div>
        <!-- 右边版块结束 -->
    </div>
    <div class="clear"></div>
    <!-- 底部版权 -->
    <div class="footer">
        <div class="f_box warp990">
            <ul class="f_ul">
                <li>
                    <a href="#">手机中国</a>
                    <a href="#">金山快盘</a>
                </li>
                <li>
                    <a href="#">雷锋网</a>
                    <a href="#">站长之家</a>
                </li>
                <li>
                    <a href="#">驱动之家</a>
                    <a href="#">威锋论坛</a>
                </li>
                <li>
                    <a href="#">ZOL手机频道</a>
                    <a href="#">安卓网</a>
                </li>
                <li>
                    <a href="#">安卓论坛</a>
                    <a href="#">智能电视网</a>
                </li>
                <li>
                    <a href="#">爱搞机</a>
                    <a href="#">电视之家</a>
                </li>
            </ul>
        </div>
        <div class="c_box">
            <div class="copy warp990">
                <a href="#"><img src="static/images/milogo.png"  alt="" width="40" height="40" /></a>
                <a href="#" class="copy_text">bbs.xiaomi.cn</a><br />
                <span>京ICP证110507号 京ICP备10046444号 <a href="#" class="">京公网安备11010802020134号</a></span>
            </div>
        </div>
    </div>
    <!-- 底部版权结束 -->

<script src="static/js/jquery-1.12.4.min.js" ></script>
<script>
    $(".h_box").find("span").each(function(i){
        $(this).mouseover(function(){
            $(".seris").find("ul").hide();
            $(this).addClass("on").siblings().removeClass("on")
            $(".seris").find("ul:eq("+i+")").show();
        })
    })
</script>
</body>
</html>