html, body, .wrapper {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
}

h1, h2, p {
    margin: 0;
    cursor: default;
}

h1, h2 {
    font-family: "Days One", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
}

.wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    perspective: 500px;
    position: relative;
    overflow: hidden;
    
    & > img {
        z-index: 1;
        user-select: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: blur(7px);
    }
}

.card {
    z-index: 2;
    user-select: none;
    height: 450px;
    width: 300px;
    margin: 0 10px;
    display: flex;
    flex-flow: column nowrap;
    opacity: 1;
    transform: translate(0) rotate3d(0) scale(1);
    transition: opacity 300ms ease-out, transform 300ms ease-out;
    
    &:hover {
        transform: scale(1.025);
    }
    
    &:nth-of-type(1) {
        background: url(https://i.ytimg.com/vi/ctOvQkdb7KE/maxresdefault.jpg) no-repeat center/cover;
        justify-content: space-between;
    }
    
    &:nth-of-type(2) {
        background: url(https://i.ytimg.com/vi/NIfSNYXWAiI/maxresdefault.jpg) no-repeat center/cover;
        justify-content: flex-end;
    }
    
    &:nth-of-type(3) {
        background: url(http://orig15.deviantart.net/b6af/f/2016/244/e/b/reaper_by_ninovecia-dag3qj0.jpg) no-repeat center/cover;
        
        .card--top {
            flex: 1;
        }
    }
    
    &.animate {
        opacity: 0;
        transform: translateX(-110px) rotate3d(0, 1, 0, 45deg);
        
        &:nth-of-type(2n) {
            transform: translateX(-110px) rotate3d(0, 1, 0, -45deg);
        }
    }
    
    &--top,
    &--bottom {
        padding: 20px;
        display: flex;
        flex-flow: column nowrap;
        
        h1, h2 {
            text-transform: uppercase;
            font-style: italic;
        }
    }
    
    &--top {
        color: #fff;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), transparent);
        align-items: center;
        justify-content: center;
        flex: 1;
    }
    
    &--bottom {
        height: 150px;
        background-color: #fff;
        color: darken(rebeccapurple, 20%);;
        text-align: center;
        align-items: center;
        justify-content: space-around;
    }
}

