.tag 
  a(href='https://codepen.io/Wheatability', target="_blank") @TylerPurvines
.center
  .calculator
    .top-bar
      button.op.clear C
      .display 0
    .keys
      .row
        button.num 7
        button.num 8
        button.num 9
        button.op.multiply x
      .row
        button.num 4
        button.num 5
        button.num 6
        button.op.divide /
      .row
        button.num 1
        button.num 2
        button.num 3
        button.op.add +
      .row
        button.num .
        button.num 0
        button.equals =
        button.op.subtract -